.CredentialsForm { 
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;

  &Error {
    font-size: 0.75rem;
    color: crimson;
    min-height: 1rem;
  }

  &Button {
    max-width: 6rem;
    margin: auto;
  }

  &Field {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &Label {
    font-size: 0.75rem;
  }
}
 