$primary: #1de9b6;
$primaryLight: #6effe8;
$primaryDark: #00b686;
$secondaryLight: #ffc1e3;
$secondary: #f48fb1;
$secondaryDark: #bf5f82;
$grey: #e1e2e1;
$greyLight: #f5f5f6;
$black: #212121;
$white: #fafafa;
